body {
	background-color: black;
}

.logo {
    float: left;
    font-family: 'Chewy', cursive;
    font-size: 75px;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    top: 150px;
    left: 500px;
    position: relative;
}

.form {
	color: white;
	height: 320px;
	width: 300px;
	top: 150px;
	left: 550px;
	position: relative;
	font-family: calibri;
}

.login {
	color: white;
    background-color: #0165C8;
    font-style: bold;
    border-color: #0165C8;
    font-family: calibri;
    padding: 5px;
}

a {
	color: white;
	top: 240px;
	left: 0px;
	position: absolute;
	color: #0165C8;
	text-decoration: none;
}

.reg {
	color: white;
	position: relative;
	top: 120px;
	left: 550px;
	width: 200px;
}


.email {
	height: 27px;
	width: 234px;
}

.password {
	height: 27px;
	width: 234px;
}

h2 {
	color: white;
	position: relative;
	top: 150px;
	left: 625px;
	width: 100px;
	font-family: calibri;
}